section {
	overflow-y: auto;
	overflow-x: hidden;
	height: 90%;
	padding: 1.5em 3em;
}

.about__container {
	display: grid;
	grid-template-columns: 40% 65%;
	gap: 10%;
}

.about__me {
	width: 75%;
	aspect-ratio: 1/1;
	border-radius: 2rem;
	background: linear-gradient(
		45deg,
		transparent,
		var(--color-primary),
		transparent
	);
	display: grid;
}

.about__me__img {
	border-radius: 2rem;
	overflow: hidden;
	transform: rotate(10deg);
	transition: var(--transition);

	&:hover {
		transform: rotate(0);
	}
}

.about__content {
	width: 80%;

	p {
		margin: 1.5rem 0 2rem;
		color: var(--color-light);
	}

	.about__technologies {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		list-style: none;

		li::before {
			color: var(--color-primary);
			content: "\2022";
			font-size: 1.4rem;
			display: inline-block;
			width: 1.5rem;
			margin-left: 0.2rem;
		}
	}
	.btn__container {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (max-width: 600px) {
	.overlay {
		section {
			overflow-y: auto;
			overflow-x: hidden;
			height: 80%;
			width: max-content !important;
			padding: 0;
		}

		.about__container {
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		}

		.about__me {
			margin: 0 auto;
			width: 80%;
		}

		.about__content {
			margin: 0 auto;

			p {
				padding: 0;
				margin: 1rem 0;
			}
		}
	}
}
