header {
	width: 100%;
	overflow: hidden;
}

.header__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	.typing-intro {
		width: 20%;
		animation: typing 2s steps(22) 0.65s, blink 0.5s step-end infinite alternate;
		white-space: nowrap;
		overflow: hidden;
		border-right: 3px solid;
	}
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

/* ******************* CTA ******************* */

.cta {
	margin-top: 2.5rem;
	display: flex;
	justify-content: center;
	gap: 1.2rem;
}

/* ******************* SOCIALS ******************* */

.header__socials {
	margin-top: 2.5rem;
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

@media screen and (max-width: 600px) {
	.header__container {
		.typing-intro {
			width: 300px;
		}
	}
}
