::-webkit-scrollbar {
	width: 0.7rem;
}

::-webkit-scrollbar-track {
	background: var(--color-bg-variant);
	border-radius: 25px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-primary);
	border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-primary-variant);
}

.work__container {
	padding: 0 1rem;
	height: 80%;
	width: 100%;
	overflow-y: scroll;

	.work__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		gap: 1rem;
	}

	.work__item {
		padding: 1.3rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		border-radius: 2rem;
		border: 1px solid transparent;
		background: var(--color-bg-variant);
		transition: var(--transition);

		&:hover {
			border: 2px solid var(--color-primary-variant);
		}

		p {
			margin: 0.5rem 0;
		}

		.work__technologies {
			width: fit-content;

			li {
				color: var(--color-white);
			}
		}
	}

	.work__item__cta {
		margin-top: 0.5rem;
		display: flex;
		justify-content: center;
		gap: 1rem;
	}
}

@media screen and (max-width: 600px) {
	.overlay {
		.work__item {
			h3 {
				font-size: 1rem;
			}

			p {
				font-size: 0.8rem;
			}

			li {
				font-size: 0.78rem;
			}
		}
	}
}
